.q {
    background-color: white;
    width:100px;
    height: 100px;
    font-size: 36px;
}

.qVencedor {
    background-color: green;
    width:100px;
    height: 100px;
    font-size: 36px;
    color: white;
    text-decoration: line-through;
}

.linha {
    display:flex;
}

.msg {
    color: red;
}